*.gb
*.o
*.2bpp
*.tilemap

# LATEX
**/latex/_minted
**/latex/main.aux
**/latex/main.bbl
**/latex/main.bcf
**/latex/main.blg
**/latex/main.fdb_latexmk
**/latex/main.fls
**/latex/main.log
**/latex/main.out
**/latex/main.pdf
**/latex/main.run.xml
**/latex/main.synctex.gz
**/latex/main.toc
**/latex/main.bbl-SAVE-ERROR
**/latex/main.bcf-SAVE-ERROR
**/latex/main.listing
**/latex/main.pyg