*.gb
*.o
*.2bpp
*.tilemap


# Latex rules
docs/_minted
docs/main.aux
docs/main.bbl
docs/main.bcf
docs/main.blg
docs/main.fdb_latexmk
docs/main.fls
docs/main.log
docs/main.out
docs/main.pdf
docs/main.run.xml
docs/main.synctex.gz
docs/main.toc
docs/main.bbl-SAVE-ERROR
docs/main.BCF-SAVE-ERROR
docs/main.listing